<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HomePage.css">
    <title>HomeBuddy</title>
    <link rel="icon" type="image/png" href="https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">

        <header>
            <div class="navbar">
                
                <div class="title">
                    <div class="logo-img"><img src="/images/logo.jpg" alt="Logo"></div>
                </div>

                <div class="pages">
                    <a>Services</a>
                    <a>Log in / Sign up</a>
                    <button class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                            <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
                        </svg>
                        Premium
                    </button>

                </div>
            </div>

            <div class="main">

                <div class="heading"><span class="gradient">Trusted Help </span><span class="gradient">Right When You Need It</span></div>

                <div class="searchbar">
                    <input type="text" placeholder="What can we help you with at home today?" id="searchfield">
                    <div class="magnifi"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
                </div>                  

                <div class="search-icons">
                    
                    <div class="assembly service">
                        <div class="servic-icon"><i class="fa-solid fa-screwdriver-wrench fa-beat"></i></div>
                        <div class="service-name">Assembly</div>
                    </div>
                    
                    <div class="painting service">
                        <div class="servic-icon"><i class="fa-solid fa-paint-roller fa-beat"></i></div>
                        <div class="service-name">Painting</div>
                    </div>
                    
                    <div class="moving service">
                        <div class="servic-icon"><i class="fa-solid fa-truck-moving fa-beat"></i></div>
                        <div class="service-name">Moving</div>
                    </div>
                    
                    <div class="cleaning service">
                        <div class="servic-icon"><i class="fa-solid fa-broom fa-beat"></i></div>
                        <div class="service-name">Cleaning</div>
                    </div>
                    
                    <div class="trending service">
                        <div class="servic-icon"><i class="fa-solid fa-fire fa-beat"></i></div>
                        <div class="service-name">Trending</div>
                    </div>

                </div>

                <div class="ai-btn">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M19 2a1 1 0 0 1 .9.56l.35 1.03l1.03.35a1 1 0 0 1 0 1.89l-1.03.35l-.35 1.03a1 1 0 0 1-1.89 0l-.35-1.03l-1.03-.35a1 1 0 0 1 0-1.89l1.03-.35l.35-1.03A1 1 0 0 1 19 2" />
                        <path fill="currentColor"
                            d="M11 6.1l-.8 2.36a6 6 0 0 1-3.49 3.65l-2.36.8l2.36.8a6 6 0 0 1 3.65 3.49l.8 2.36l.8-2.36a6 6 0 0 1 3.49-3.65l2.36-.8l-2.36-.8a6 6 0 0 1-3.65-3.49z"/>
                    </svg>
                </div>

            </div>

        </header>

        <section>
            <div class="projects">

                <div class="hide-assembly">
                    <div class="helps">Furniture assembly</div>
                    <div class="helps">Office furniture assembly</div>
                    <div class="helps">Smart home device mounting</div>
                    <div class="helps">Playground/swing set installation</div>
                    <div class="helps">Fitness equipment assembly</div>
                    <div class="helps">Outdoor equipment assembly</div>
                </div>

                <div class="hide-painting">
                    <div class="helps">Accent wall or decorative paint design</div>
                    <div class="helps">Deck/fence staining or painting</div>
                    <div class="helps">Cabinet refinishing or repainting</div>
                    <div class="helps">Touch-ups & repainting damaged surfaces</div>
                    <div class="helps">Exterior wall/house painting</div>
                    <div class="helps">Interior room painting</div>
                </div>

                <div class="hide-moving">
                    <div class="helps">Junk removal or donation drop-off</div>
                    <div class="helps">Storage unit moving/organization</div>
                    <div class="helps">Furniture rearranging within home</div>
                    <div class="helps">Packing & unpacking support</div>
                    <div class="helps">Small item pickup + delivery</div>
                    <div class="helps">Full home moving assistance</div>
                </div>

                <div class="hide-cleaning">
                    <div class="helps">Post-renovation dust cleanup</div>
                    <div class="helps">Window & glass cleaning</div>
                    <div class="helps">Carpet & upholstery cleaning</div>
                    <div class="helps">Move-in / Move-out cleaning</div>
                    <div class="helps">Bathroom & kitchen intensive cleaning</div>
                    <div class="helps">Full home deep cleaning</div>
                </div>

                <div class="hide-trending">
                    <div class="helps">Home repairs</div>
                    <div class="helps">Pest control treatment</div>
                    <div class="helps">Garden care & balcony plant setup</div>
                    <div class="helps">Smart home setup</div>
                    <div class="helps">AC servicing & filter cleaning</div>
                    <div class="helps need">Secret Service</div>
                </div>


            </div>
        </section>

        <section>
            <div class="cus-heading">Discover the experiences of HomeBuddy clients</div>
            <div class="customer">
                
                <div class="review">I had an amazing experience! The service was professional from start to finish, and every detail was handled with real care. They worked efficiently without cutting corners, and the final result was even better than I expected. It’s rare to find such reliable and skilled help. I’ll definitely be booking again!</div>
                
                <div class="i-cus">

                    <div class="cus-img"><img src="cus-1" alt="customer"></div>
                    <div class="cus-name">Aarav Mehta</div>

                </div>
            </div>
            <div class="customer">
                
                <div class="review">Very impressed with the quality of work. They arrived on time, communicated clearly, and made sure I was comfortable with every step before proceeding. The task was completed smoothly, and the place was left spotless afterward. Overall, a great experience and excellent value for the service.</div>
                
                <div class="i-cus">

                    <div class="cus-img"><img src="cus-2" alt="customer"></div>
                    <div class="cus-name">Priya Sharma</div>

                </div>
            </div>
            <div class="customer">
                
                <div class="review">Great job and a truly stress-free process! They handled everything with professionalism and a friendly attitude. I appreciated how they kept me updated and made sure everything was done to my satisfaction. The end result was clean, organized, and exactly what I needed. Would happily recommend!</div>
                
                <div class="i-cus">

                    <div class="cus-img"><img src="cus-3" alt="customer"></div>
                    <div class="cus-name">Rohan Iyer</div>

                </div>
            </div>
            <div class="customer">
                
                <div class="review">Exceptional service from start to finish. They worked quickly but with impressive precision, and it shows in the final outcome. What stood out most was how respectful and helpful they were throughout the visit. It genuinely made the experience comfortable and pleasant. Highly recommended for reliable work!</div>
                
                <div class="i-cus">

                    <div class="cus-img"><img src="cus-4" alt="customer"></div>
                    <div class="cus-name">Kavita Deshmukh</div>

                </div>
            </div>
        </section>

        <footer>
            <div class="contact">

                <div class="logo"><img src="/images/logo.png"></div>

                <div class="email">
                    <input type="email" placeholder="your email">
                </div>
                
                <div class="description">
                    <textarea placeholder="your description" ></textarea>
                </div>

            </div>

            <div class="copy-rights">© Team Care. All Rights Reserved.</div>
        </footer>

    </div>
</body>
<script src="/js/HomePage.js"></script>
</html>