<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Service Details</title>
<link rel="stylesheet" href="/css/WorkininfoPage.css">
</head>

<body>
    <div class="box">
        <h1>Service Details</h1>

        <ul>
            <li>Furniture Assembly</li>
            <li>Moving Heavy Table</li>
            <li>Smart TV Wall Mounting</li>
        </ul>

        <div class="tech">
            <b>Technician:</b> Rohan Patel <br>
            <b>Arrival Time:</b> 2:45 PM <br>
            <b>Service ID:</b> SRV-28419
        </div>

        <div class="otp">OTP: <span id="otpNum"></span></div>
    </div>

<script src="/js/WorkingfoPage.js"></script>

</body>
</html>
