/* * {
    outline: 1px solid red; 
    important remember it (use for checking elements space taken)
} */

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    /* overflow-x: hidden;  (remmber it)  */
    font-family: "Montserrat", sans-serif;
}

/* NAVBAR */

.navbar {
    height: 8vh;
    width: 99.90%;
    border: 1px solid #D9DDDC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* NAV 1 */

.title {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    height: 3rem;
    width: 10rem;
    position: relative;
    right: 3rem;
}

/* NAV 2 */

.pages {
    height: 100%;
    width: 50vw;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.button {
  width: fit-content;
  display: flex;
  padding: 0.8em 1.1em;
  gap: 0.4rem;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.45);
    background: linear-gradient(
    20deg,
    #6b00ff,
    #9a00ff,
    #ff009d,
    #ff4f6d,
    #ff8a3d,
    #ff4f6d,
    #ff009d,
    #9a00ff,
    #6b00ff
    ) no-repeat;
    background-size: 350%;
    background-position: left center;
    transition: background 0.35s ease;
    color: #fff;
}

.button:hover {
  background-size: 320%;
  background-position: right center;
}

.button:hover svg {
  fill: #fff;
}

.button svg {
  width: 23px;
  fill: #f09f33;
  transition: 0.3s ease;
}


/* NAVBAR */

/* MAIN */
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADING */

.heading {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 5rem 0;
    font-weight: 600;
}

.gradient {
    background: linear-gradient(to right ,  #6b00ff,#9a00ff,#ff009d,#ff4f6d,#ff8a3d,#ff4f6d,#ff009d,#9a00ff,#6b00ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

/* SEARCH BAR */

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 8rem 0; 
    gap: 0;
}

#searchfield {
    outline: none;
    height: 5rem;
    width: 50rem;
    font-size: 2rem;
    border-radius: 150px 0 0 150px;
    text-align: center;
    border: 1px solid rgb(229, 46, 235);
}

.magnifi {
    height: 5.3rem;
    width: 5rem;
    background: rgba(201, 9, 218, 0.267);  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 150px 150px 0;
    border: 1px solid rgb(229, 46, 235);
}

.magnifi button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.magnifi i {
    font-size: 28px; 
    color: #ffffff; 
}


/* Types of Services */
.search-icons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin: 0 0 5rem 0;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: #ff009d;
}

.servic-icon {
    font-size: 2rem;
}


/* MAIN */

/* AI */

.ai-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 85%;
    left: 93%;

    width: 60px;
    height: 60px;

    background: linear-gradient(135deg, #ff7ce5, #6f9bff);
    border-radius: 50%;
    color: #fff;

    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 0 12px #6f9bff80;
}

.ai-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ba5ebacc;
}

.ai-btn svg {
    width: 40px;
    height: 40px;
}

/* AI */


/* SERVICES OF EACH TYPE */

.projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 10rem 0;
}

.organise {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* gap: 8rem; */
    row-gap: 6rem;
    column-gap: 10rem;
}

.card {
    height: 250px;
    width: 242px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    border: 2px solid black;
    background-color: #e7a0ed;
}

.helps-i img {
    height: 163px;
    width: 240px;
    padding: 1px 0 0 0;
    object-fit: cover;  
    border-radius: 10px;
}

.helps-q {
    padding: 1rem 0 0 0;
    text-align: center;
    text-align-last: center;
}

.hide {
    display: none;
}

/* SERVICES OF EACH TYPE */

/* REVIEWS */

#comments {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 6rem 0;
}

.cus-heading {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 0 5rem 0;
}

#review-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
}

.customer {
    height: 250px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 14px;
    text-align: justify;
    letter-spacing: 1px;
}

.i-cus {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cus-img img {
    height: 163px;
    width: 240px;
    padding: 1px 0 0 0;
    object-fit: cover;  
    border-radius: 10px;
    
}

.cus-name {
    padding: 0.5rem 0 0 0;
    text-align: center;
}

/* REVIEWS */

/* FOOTER */

footer {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #D9DDDC;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.email input {
    width: 100%;               
    padding: 1.2rem 1.5rem;    
    font-size: 1.2rem;         
    border: 1px solid #ccc;    
    border-radius: 150px;      
    outline: none;
    box-sizing: border-box;
    text-align: center;
}
.description input {
    width: 100%;               
    padding: 1.2rem 1.5rem;    
    font-size: 1.2rem;         
    border: 1px solid #ccc;    
    border-radius: 150px;      
    outline: none;
    box-sizing: border-box;
    text-align: center;
}


/* FOOTER */

